.Header_navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #131921;
    top: 0;
    z-index: 100;
}
.Amazon_logo {
    object-fit: contain;
    width: 100px;
    margin: 0 20px;
    margin-top: 10px;
}
.inner_options {
    display: flex;
    font-size: 10px !important;

    align-items: baseline !important;
    flex-direction: column !important;

    margin-top: 10px;
    margin-left: 30px;
    color: white;
}
.search_bar {
    height: 10px;
    display: flex;
    align-items: center;
    flex: 1;

    padding: 10px;
    border: none;
    width: 100%;
}
.header_name_holder {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.search_bar_header {
    background-color: #cd9042;
    padding: 2px;
    height: 22px !important;
}
.searchbar_input_text {
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
}
.header_option_line_two {
    font-size: 13px;
    font-weight: 800;
}
.shopping_cart_holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-left:20px;
        margin-right:10px;
}
.item_holder{
    font-size: 13px;
    font-weight: 800;
}